@import "Followers_board.scss";
@import "overview.scss";
@import "variables.scss";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: $font-size;
    font-family: $font-family;
    background:$Very-Dark-Blue;
    padding: 2.5rem 1.5625rem;
    min-height: 100vh;
}
.light_mode{
$Light-theme-Toggle: hsl(230, 22%, 74%);
$White: hsl(0, 0%, 100%); // (BG)
$Very-Pale-Blue:  hsl(225, 100%, 98%); // (Top BG Pattern)
$Light-Grayish-Blue: hsl(227, 47%, 96%); // (Card BG)
$Dark-Grayish-Blue: hsl(228, 12%, 44%); // (Text)
$Very-Dark-Blue: hsl(230, 17%, 14%); // (Text)
}
