@import "Followers_board.scss";
@import "overview.scss";
@import "variables.scss";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: $font-size;
    font-family: $font-family;
    min-height: 100vh;
}
@media(min-width:1024px){
    .container{
        max-width: 1180px;
        margin: 0 auto;
    }
}
@media(max-width:1160px){
    .container{padding: 2.5rem 1.5625rem !important;}
}
body::before {
    content: "";
    display: block;
    width: 100%;
    height: 250px;
    position: absolute;
    top: 0;
    border-radius: 0 0 20px 20px;
    z-index: -1;
}
.dark{
    body{
        .header{.left{h1{color: $White;}}}
        background: $Very-Dark-Blue;
        &::before{background:$Very-Dark-Blue-top-pattern;}
        .toggle-div{
            .toggle{background:linear-gradient( to right, $Dark-linear-1 ,$Dark-linear-2 );
                .inside{background:$Very-Dark-Blue;}
            }
        }
        .followers_div{
            .followers_card{
                background:$Dark-Desaturated-Blue;
                h2{color:$White;}
                .app-name{span{color:$Desaturated-Blue}}
            }
        }
        h2{color: $White;}
        .over_view{
            .over_view_card{
                .row-1{span{color:$Desaturated-Blue;}}
                .row-2{.number{color:$White;}}
            }
        }
    }
}
.light{
    body{
        .header{.left{h1{color: $Very-Dark-Blue;}}}
        background:$White;
        &::before{background:$Very-Pale-Blue;}
        .toggle-div{
            .toggle{background: $Light-theme-Toggle;
                .inside{background:$White;}
            }
        }
        .followers_div{
            .followers_card{
                background:$Light-Grayish-Blue;
                h2{color:$Very-Dark-Blue;}
                .app-name{span{color:$Dark-Grayish-Blue}}
            }  
        }
        h2{color: $Very-Dark-Blue;}
        .over_view{
            .over_view_card{
                background:$Light-Grayish-Blue;
                .row-1{span{color:$Dark-Grayish-Blue;}}
                .row-2{.number{color:$Very-Dark-Blue;}}
            }
        }
    }
}
